@use '../../../styles'
@import '../../../_variables'

header
    padding: 30px 24px
    @include styles.flex($flex-direction: row)

    .title
        font-size: 1.5rem
        letter-spacing: $heading-text-spacing
    