@import '../../../_variables'

.banner
    background-color: $dark-blue
    padding: 30px
    border-radius: 40px
    color: white

    .main-text
        font-size: 3rem
        letter-spacing: $heading-text-spacing
        margin: 0 0 30px 0

        span
            font-family: $font-secondary
            font-style: italic
            font-weight: 500

    .quoter
        font-size: 1.3rem
        margin: 0 0 30px 0
        background-color: $orange-accent
        padding: 6px 12px
        border-radius: 4px

    .description
        margin: 30px 0 0 0