/* You can add global styles to this file, and also import other style files */
@use 'base'
@use 'variables'

body
    font-family: variables.$font-main
    background-color: variables.$bg-light
    color: variables.$dark-blue

@mixin flex($flex-direction: row)
    display: flex
    flex-direction: $flex-direction
    justify-content: space-between
    align-items: center